* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: GillSans;
  src: url(fonts/GillSans.ttc);
}
@font-face {
  font-family: SerifBold;
  src: url(fonts/PTSerif-Bold.ttf);
}
@font-face {
  font-family: SerifBoldItalic;
  src: url(fonts/PTSerif-BoldItalic.ttf);
}
@font-face {
  font-family: SerifItalic;
  src: url(fonts/PTSerif-Italic.ttf);
}
@font-face {
  font-family: SerifRegular;
  src: url(fonts/PTSerif-Regular.ttf);
}
.homeNav {
  max-width: 980px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: white solid 2px;
  font-family: GillSans;
  position: absolute;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.homeNav .links {
  width: 400px;
  height: 42px;
  align-self: center;
  display: flex;
  margin-right: -15px;
  margin-bottom: 10px;
}
.homeNav .links a {
  text-decoration: none;
  color: white;
  margin: auto;
  font-size: 15px;
}
.homeNav .links .line {
  color: #EE4367;
  margin-top: 10px;
}

.otherNav {
  max-width: 980px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: black solid 2px;
  font-family: GillSans;
  margin-top: 30px;
}
.otherNav .links {
  width: 400px;
  height: 42px;
  align-self: center;
  display: flex;
  margin-right: -15px;
  margin-bottom: 10px;
}
.otherNav .links a {
  text-decoration: none;
  color: black;
  margin: auto;
  font-size: 15px;
}
.otherNav .links .line {
  color: #EE4367;
  margin-top: 10px;
}

.whitelogo {
  background-image: url(../images/logo-white.png);
  background-repeat: no-repeat;
}

.blacklogo {
  background-image: url(../images/logo-black.png);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 980px) {
  .homeNav {
    padding: 10px;
  }
}
footer {
  max-width: 100%;
  height: 455px;
  margin: 0 auto;
  text-align: center;
  background-color: #EE4367;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  padding-top: 30px;
  font-family: GillSans;
}
footer .footerText {
  font-size: 16px;
}
footer .homeInput input {
  width: 529px;
  height: 60px;
  background-color: #F56B88;
  border: none;
}
footer .homeInput ::placeholder {
  color: #f89aae;
  padding-left: 20px;
  font-size: 16px;
}
footer .homeInput button {
  width: 167px;
  height: 60px;
  background-color: white;
  border: none;
  color: #EE4367;
  font-size: 16px;
  margin-left: -5px;
  font-weight: bold;
  cursor: pointer;
}
footer .footerCopy {
  font-size: 12px;
  color: #f89aae;
}
footer .socials {
  font-size: 40px;
  display: flex;
  cursor: pointer;
  justify-content: center;
}
footer .socials .instagram {
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (max-width: 980px) {
  footer {
    padding: 10px;
  }
}
.homeNav {
  max-width: 980px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: white solid 2px;
  font-family: GillSans;
  position: absolute;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.homeNav .links {
  width: 400px;
  height: 42px;
  align-self: center;
  display: flex;
  margin-right: -15px;
  margin-bottom: 10px;
}
.homeNav .links a {
  text-decoration: none;
  color: white;
  margin: auto;
  font-size: 15px;
}
.homeNav .links .line {
  color: #EE4367;
  margin-top: 10px;
}

.otherNav {
  max-width: 980px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: black solid 2px;
  font-family: GillSans;
  margin-top: 30px;
}
.otherNav .links {
  width: 400px;
  height: 42px;
  align-self: center;
  display: flex;
  margin-right: -15px;
  margin-bottom: 10px;
}
.otherNav .links a {
  text-decoration: none;
  color: black;
  margin: auto;
  font-size: 15px;
}
.otherNav .links .line {
  color: #EE4367;
  margin-top: 10px;
}

.whitelogo {
  background-image: url(../images/logo-white.png);
  background-repeat: no-repeat;
}

.blacklogo {
  background-image: url(../images/logo-black.png);
  background-repeat: no-repeat;
}

@media only screen and (max-width: 980px) {
  .homeNav {
    padding: 10px;
  }
}
.quote {
  max-width: 1280px;
  height: 300px;
  background-color: white;
  margin: 0 auto;
}
.quote .homeQuote {
  max-width: 789px;
  margin: 0 auto;
}
.quote .homeQuote .theQuote {
  font-size: 15px;
  color: #FFD140;
  font-family: GillSans;
  font-style: italic;
  padding-top: 80px;
  word-spacing: 4px;
}
.quote .homeQuote .name {
  font-size: 15px;
  font-family: SerifRegular;
  color: #EE4367;
}
.quote .homeQuote .job {
  font-size: 10px;
  font-family: SerifRegular;
  color: #A8A8A8;
}

@media only screen and (max-width: 980px) {
  .quote {
    padding: 10px;
  }
}
.hero {
  max-width: 100%;
  height: 500px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/home-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero .heroText {
  text-align: center;
  padding-top: 161px;
  max-width: 714px;
  margin: 0 auto;
}
.hero .heroText .header {
  font-size: 40px;
  color: white;
  font-family: SerifRegular;
}
.hero .heroText .smallerText {
  font-size: 20px;
  color: #EE4367;
  padding-bottom: 30px;
  font-family: GillSans;
  font-style: italic;
}
.hero .heroText .loremHero {
  font-size: 20px;
  color: white;
  padding-bottom: 50px;
  font-family: GillSans;
  font-style: italic;
  width: 500px;
  margin: 0 auto;
}
.hero .heroText .heroBtn {
  border: none;
  width: 121.62px;
  height: 40.04px;
  background-color: #EE4367;
  color: white;
  font-family: GillSans;
  font-size: 15px;
  cursor: pointer;
}

.upcoming {
  max-width: 1280px;
  height: 320px;
  background-color: #540D6E;
  margin: 0 auto;
}
.upcoming h1 {
  font-family: GillSans;
  font-size: 25px;
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  width: 400px;
  padding-top: 30px;
  margin-left: 42px;
  letter-spacing: 4px;
  font-weight: lighter;
  text-transform: uppercase;
}
.upcoming .allEvents {
  display: flex;
  justify-content: space-around;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 30px;
}
.upcoming .allEvents .event {
  display: flex;
  padding-left: 30px;
}
.upcoming .allEvents .event .date {
  width: 60px;
  height: 60px;
  background-color: #EE4367;
  color: white;
  font-family: GillSans;
  text-align: center;
  padding-top: 5px;
}
.upcoming .allEvents .event .date .day {
  font-size: 22px;
  font-weight: bold;
}
.upcoming .allEvents .event .date .month {
  font-size: 12px;
}
.upcoming .allEvents .event .bothText {
  width: 140px;
  padding-left: 20px;
}
.upcoming .allEvents .event .bothText .topText {
  font-size: 15px;
  font-family: GillSans;
  color: white;
  width: 150px;
}
.upcoming .allEvents .event .bothText .bottomText {
  font-size: 13px;
  font-family: GillSans;
  color: #EE4367;
  width: 140px;
}

@media only screen and (max-width: 1200px) {
  .upcoming {
    height: 820px;
  }
  .upcoming .allEvents {
    flex-direction: column;
    padding-left: 12px;
  }
}
.about {
  padding-top: 86px;
  max-width: 979.5px;
  margin: 0 auto;
}
.about .aboutImage {
  max-width: 979.5px;
  height: 378.75px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about .aboutImage p {
  font-size: 25px;
  color: black;
  font-family: GillSans;
  border-bottom: 2px solid black;
  display: inline-block;
  padding-top: 355px;
  padding-bottom: 10px;
  width: 229px;
}
.about .aboutText {
  padding-top: 50px;
  font-family: SerifItalic;
  font-size: 16px;
  padding-bottom: 115px;
}

@media only screen and (max-width: 980px) {
  .about {
    padding: 10px;
  }
}
.galleryPics {
  width: 980px;
  margin: 0 auto;
}
.galleryPics h1 {
  border-bottom: 2px solid black;
  width: 229px;
  font-family: GillSans;
  font-weight: lighter;
  padding-top: 65px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.galleryPics .topPics {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.galleryPics .topPics .yellow {
  width: 489px;
  height: 187px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.galleryPics .topPics .pink {
  width: 187px;
  height: 187px;
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.8), rgba(238, 67, 103, 0.8)), url(../images/2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.galleryPics .topPics .green {
  width: 265px;
  height: 187px;
  background-image: linear-gradient(to right, rgba(8, 173, 105, 0.8), rgba(8, 173, 105, 0.8)), url(../images/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.galleryPics .bottomPics {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}
.galleryPics .bottomPics .purple {
  width: 603px;
  height: 306px;
  background-image: linear-gradient(to right, rgba(84, 13, 110, 0.8), rgba(84, 13, 110, 0.8)), url(../images/4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.galleryPics .bottomPics .teal {
  width: 355px;
  height: 306px;
  background-image: linear-gradient(to right, rgba(59, 206, 171, 0.8), rgba(59, 206, 171, 0.8)), url(../images/5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 980px) {
  .galleryPics {
    padding: 10px;
  }
  .galleryPics .topPics {
    flex-direction: column;
  }
  .galleryPics .bottomPics {
    flex-direction: column;
  }
}
.allblogs {
  margin: 0 auto;
  max-width: 980px;
}
.allblogs .blogh {
  border-bottom: 2px solid black;
  width: 229px;
  padding-top: 65px;
  padding-bottom: 10px;
  font-family: GillSans;
  font-weight: lighter;
  text-transform: uppercase;
}
.allblogs .blogs {
  display: flex;
  justify-content: space-between;
}
.allblogs .blogs .blog {
  display: flex;
  padding-top: 20px;
}
.allblogs .blogs .blog .date {
  width: 60px;
  height: 60px;
  background-color: #EE4367;
  color: white;
  font-family: GillSans;
  text-align: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 22px;
  font-weight: bold;
}
.allblogs .blogs .blog .date .month {
  font-size: 12px;
  font-weight: lighter;
  position: absolute;
}
.allblogs .blogs .blog .date #july {
  margin-left: -6px;
}
.allblogs .blogs .blog .date #june {
  margin-left: -9px;
}
.allblogs .blogs .blog .date #august {
  margin-left: -11px;
}
.allblogs .blogs .blog .date #november {
  margin-left: -12px;
}
.allblogs .blogs .blog .date #december {
  margin-left: -11px;
}
.allblogs .blogs .blog .blogRight {
  padding-left: 20px;
}
.allblogs .blogs .blog .blogRight .blogPic {
  background-image: url(../images/blogpic.jpg);
  width: 380px;
  height: 140px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.allblogs .blogs .blog .blogRight .blogText {
  width: 380px;
}
.allblogs .blogs .blog .blogRight .blogText .topText {
  color: black;
  font-size: 15px;
  font-family: GillSans;
  padding-top: 20px;
}
.allblogs .blogs .blog .blogRight .blogText .bottomText {
  color: #EE4367;
  font-size: 13px;
  font-family: GillSans;
}

@media only screen and (max-width: 980px) {
  .allblogs {
    padding: 10px;
  }
  .allblogs .blogs {
    flex-direction: column;
  }
}
.contact {
  max-width: 980px;
  margin: 0 auto;
  padding-top: 98px;
}
.contact h1 {
  text-transform: uppercase;
  border-bottom: 2px solid black;
  display: inline-block;
  padding-right: 30px;
  font-size: 30px;
  font-family: GillSans;
  font-weight: lighter;
  width: 250px;
  padding-bottom: 10px;
}
.contact .fullSide {
  display: flex;
  padding-top: 40px;
  padding-bottom: 100px;
  justify-content: space-between;
}
.contact .fullSide .rightSide .map {
  width: 400px;
  height: 442px;
  background-image: url(../images/map.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact .fullSide .leftSide .input {
  border: none;
  background-color: #F5F5F5;
  width: 529px;
  height: 60px;
  margin-bottom: 21px;
}
.contact .fullSide .leftSide ::placeholder {
  font-family: GillSans;
  font-size: 16px;
  padding-left: 20px;
  position: absolute;
  padding-top: 20px;
}
.contact .fullSide .leftSide .inputMes {
  border: none;
  background-color: #F5F5F5;
  width: 529px;
  height: 199px;
  margin-bottom: 20px;
}
.contact .fullSide .leftSide .messageBtn {
  width: 168px;
  height: 60px;
  background-color: #EE4367;
  color: white;
  cursor: pointer;
  border: none;
  font-family: GillSans;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media only screen and (max-width: 980px) {
  .contact {
    padding: 10px;
    margin-top: 50px;
  }
}
.galleryInfo {
  padding-top: 50px;
  max-width: 980.5px;
  margin: 0 auto;
}
.galleryInfo .galleryImage1 {
  max-width: 980.5px;
  height: 400.5px;
  background-image: linear-gradient(to right, rgba(255, 209, 64, 0.7), rgba(255, 209, 64, 0.7)), url(../images/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.galleryInfo .galleryImage1 .num {
  font-size: 300px;
}
.galleryInfo .galleryImage1 p {
  color: #FFD140;
  font-size: 140px;
  font-family: GillSans;
  padding-top: 126px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin-right: -10px;
}
.galleryInfo .galleryImage2 {
  max-width: 980.5px;
  height: 400.5px;
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(../images/2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.galleryInfo .galleryImage2 .num {
  font-size: 300px;
}
.galleryInfo .galleryImage2 p {
  color: #EE4367;
  font-size: 140px;
  font-family: GillSans;
  padding-top: 126px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin-right: -10px;
}
.galleryInfo .galleryImage3 {
  max-width: 980.5px;
  height: 400.5px;
  background-image: linear-gradient(to right, rgba(8, 173, 105, 0.7), rgba(8, 173, 105, 0.7)), url(../images/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.galleryInfo .galleryImage3 .num {
  font-size: 300px;
}
.galleryInfo .galleryImage3 p {
  color: #08AD69;
  font-size: 140px;
  font-family: GillSans;
  padding-top: 126px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin-right: -10px;
}
.galleryInfo .galleryImage4 {
  max-width: 980.5px;
  height: 400.5px;
  background-image: linear-gradient(to right, rgba(84, 13, 110, 0.7), rgba(84, 13, 110, 0.7)), url(../images/4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.galleryInfo .galleryImage4 .num {
  font-size: 300px;
}
.galleryInfo .galleryImage4 p {
  color: #540D6E;
  font-size: 115px;
  font-family: GillSans;
  padding-top: 126px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin-right: -50px;
}
.galleryInfo .galleryImage5 {
  max-width: 980.5px;
  height: 400.5px;
  background-image: linear-gradient(to right, rgba(59, 206, 171, 0.7), rgba(59, 206, 171, 0.7)), url(../images/5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.galleryInfo .galleryImage5 .num {
  font-size: 300px;
}
.galleryInfo .galleryImage5 p {
  color: #3BCEAB;
  font-size: 115px;
  font-family: GillSans;
  padding-top: 126px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin-right: -10px;
}
.galleryInfo .galleryTexts {
  display: flex;
  font-family: SerifItalic;
  font-weight: lighter;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 90px;
  justify-content: space-between;
}
.galleryInfo .galleryTexts .leftText {
  width: 490px;
}
.galleryInfo .galleryTexts .rightText {
  width: 451px;
}

@media only screen and (max-width: 980px) {
  .galleryInfo {
    padding: 10px;
  }
  .galleryInfo .galleryImage1 .num {
    font-size: 200px;
  }
  .galleryInfo .galleryImage1 p {
    font-size: 80px;
    padding-top: 100px;
  }
  .galleryInfo .galleryImage2 .num {
    font-size: 200px;
  }
  .galleryInfo .galleryImage2 p {
    font-size: 100px;
    padding-top: 220px;
  }
  .galleryInfo .galleryImage3 .num {
    font-size: 200px;
  }
  .galleryInfo .galleryImage3 p {
    font-size: 100px;
    padding-top: 220px;
  }
  .galleryInfo .galleryImage4 .num {
    font-size: 200px;
  }
  .galleryInfo .galleryImage4 p {
    font-size: 100px;
    padding-top: 80px;
  }
  .galleryInfo .galleryImage5 .num {
    font-size: 100px;
  }
  .galleryInfo .galleryImage5 p {
    font-size: 70px;
    padding-top: 310px;
  }
  .galleryInfo .galleryTexts {
    display: flex;
    font-family: SerifItalic;
    font-weight: lighter;
    font-size: 16px;
    padding-top: 50px;
    padding-bottom: 90px;
    justify-content: space-between;
  }
  .galleryInfo .galleryTexts .leftText {
    width: 490px;
  }
  .galleryInfo .galleryTexts .rightText {
    width: 451px;
  }
}
.bloginfo {
  padding-top: 56px;
  max-width: 981px;
  margin: 0 auto;
}
.bloginfo .blogImage {
  max-width: 981px;
  height: 300px;
  background-image: linear-gradient(to right, rgba(238, 67, 103, 0.7), rgba(238, 67, 103, 0.7)), url(../images/blog.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 75px;
}
.bloginfo .blogImage .date {
  width: 155.25px;
  height: 155.25px;
  background-color: #EE4367;
  margin: 0 auto;
}
.bloginfo .blogImage .date p {
  color: white;
  font-size: 55px;
  font-family: SerifBold;
  text-align: center;
  padding-top: 15px;
}
.bloginfo .blogImage .date p .month {
  font-size: 31px;
  font-family: GillSans;
  position: absolute;
  margin-left: -25px;
}
.bloginfo .blogImage .date #july {
  margin-left: -20px;
}
.bloginfo .blogImage .date #august {
  margin-left: -30px;
}
.bloginfo .blogImage .date #november {
  margin-left: -33px;
}
.bloginfo .blogImage .date #december {
  margin-left: -30px;
}
.bloginfo .blogTextlarge .header {
  color: #EE4367;
  font-size: 20px;
  font-family: GillSans;
  padding-top: 55px;
  padding-bottom: 10px;
}
.bloginfo .blogTextlarge .blogText {
  color: black;
  font-size: 20px;
  font-family: GillSans;
  font-weight: lighter;
}
.bloginfo .blogTextlarge .blogTextbottom {
  color: black;
  font-size: 20px;
  font-family: GillSans;
  padding-bottom: 160px;
  font-weight: lighter;
}

@media only screen and (max-width: 980px) {
  .bloginfo {
    padding: 10px;
  }
}