$site-purple: #540D6E;
$site-pink: #EE4367;
$site-yellow: #FFD140;
$site-teal: #3BCEAB;
$site-green: #08AD69;


$overlay-yellow: rgba(255, 209, 64, .8);

$overlay-purple: rgba(84, 13, 110, .8);

$overlay-pink: rgba(238, 67, 103, .8);

$overlay-green: rgba(8, 173, 105, .8);

$overlay-teal: rgba(59, 206, 171, .8);


$overlay-yellow2: rgba(255, 209, 64, .7);

$overlay-purple2: rgba(84, 13, 110, .7);

$overlay-pink2: rgba(238, 67, 103, .7);

$overlay-green2: rgba(8, 173, 105, .7);

$overlay-teal2: rgba(59, 206, 171, .7);
