.upcoming {
    max-width: 1280px;
    height: 320px;
    background-color: $site-purple;
    margin: 0 auto;

    h1 {
        font-family: GillSans;
        font-size: 25px;
        color: white;
        border-bottom: 2px solid white;
        padding-bottom: 10px;
        width: 400px;
        padding-top: 30px;
        margin-left: 42px;
        letter-spacing: 4px;
        font-weight: lighter;
        text-transform: uppercase;       
    }

    .allEvents {
        display: flex;
        justify-content: space-around;
        max-width: 1280px;
        margin: 0 auto;
        padding-top: 20px;
        padding-right: 30px;

        .event {
            display: flex;
            padding-left: 30px;

            .date {
                width: 60px;
                height: 60px;
                background-color: $site-pink;
                color: white;
                font-family: GillSans;
                text-align: center;
                padding-top: 5px;
                

                .day {
                    font-size: 22px;
                    font-weight: bold;
                    
                }

                .month {
                    font-size: 12px;
                    
                 
                }
            }

            .bothText {
                width: 140px;
                padding-left: 20px;

                .topText {
                    font-size: 15px;
                    font-family: GillSans;
                    color: white;
                    width: 150px;
                }
    
                .bottomText {
                    font-size: 13px;
                    font-family: GillSans;
                    color: $site-pink;
                    width: 140px;
                }

            }

         
        }
    }

}


@media only screen and (max-width: 1200px) {
    .upcoming {
        height: 820px;
        

       .allEvents {
           flex-direction: column;
           padding-left: 12px;
       }
        

    }
}