
.allblogs {
    margin: 0 auto;
    max-width: 980px;

    .blogh {
        border-bottom: 2px solid black;
        width: 229px;
        padding-top: 65px;
        padding-bottom: 10px;
        font-family: GillSans;
        font-weight: lighter;
        text-transform: uppercase;
    }

.blogs {
    display: flex;
    justify-content: space-between;
    



    .blog {
        display: flex;
        padding-top: 20px;
       

        .date {
            width: 60px;
            height: 60px;
            background-color: $site-pink;
            color: white;
            font-family: GillSans;
            text-align: center;
            padding-top: 5px;
            margin-right: 20px;
            padding-right: 20px;
            padding-left: 20px;
        }

        .blogRight {


            .blogPic {
                background-image: url(../images/blogpic.jpg);
                width: 380px;
                height: 140px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .blogText {
                width: 380px;

                .topText {
                    color: black;
                    font-size: 15px;
                    font-family: GillSans;
                    padding-top: 20px;
                }

                .bottomText {
                    color: $site-pink;
                    font-size: 13px;
                    font-family: GillSans;
                    

                  
                }
              
            }
        }
    }
}

}