.bloginfo {
    padding-top: 56px;
    max-width: 981px;
    margin: 0 auto;

    .blogImage {
        max-width: 981px;
        height: 300px;
        background-image: linear-gradient(to right, $overlay-pink2, $overlay-pink2),  url(../images/blog.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 75px;

        .date {
            width: 155.25px;
            height: 155.25px;
            background-color: $site-pink;
            margin: 0 auto;
            

            p {
                color: white;
                font-size: 55px;
                font-family: SerifBold;
                text-align: center;
                padding-top: 15px;

                .month {
                    font-size: 31px;
                    font-family: GillSans;
                    position: absolute;
                    margin-left: -25px;
                    
                }
            }
        }
    
    }

    .blogTextlarge {

        .header {
            color: $site-pink;
            font-size: 20px;
            font-family: GillSans;
            padding-top: 55px;
            padding-bottom: 10px;
           
        }

        .blogText {
            color: black;
            font-size: 20px;
            font-family: GillSans;
            
          
        }

        
        .blogTextbottom {
            color: black;
            font-size: 20px;
            font-family: GillSans;
            padding-bottom: 160px;
          
        }
    }
}