.about {
    padding-top: 86px;
    max-width: 979.5px;
    margin: 0 auto;

    .aboutImage {
        max-width: 979.5px;
        height: 378.75px;
        background-image: linear-gradient(to right, $overlay-yellow, $overlay-yellow),  url(../images/about.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        

        p {
            font-size: 25px;
            color: black;
            font-family: GillSans;
            border-bottom: 2px solid black;
            display: inline-block;
            padding-top: 355px;
            padding-bottom: 10px;
            width: 229px;
        }
    }

    .aboutText {
        padding-top: 50px;
        font-family: SerifItalic;
        font-size: 16px;
        padding-bottom: 115px;
    }
}